<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-loading-bar" version="0.9.0" targetFramework="net451" />
  <package id="angular-spinner" version="0.8.1" targetFramework="net451" />
  <package id="AWSSDK.Core" version="3.7.402.26" targetFramework="net451" />
  <package id="AWSSDK.S3" version="3.7.415.25" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net451" />
  <package id="LINQKit" version="1.1.1" targetFramework="net451" />
  <package id="ngDialog" version="0.3.1" targetFramework="net451" />
  <package id="Spin.js" version="2.0.1" targetFramework="net451" />
</packages>