<div class="row page_cyclesLanding" style="position: relative;
        z-index: 11;">
    <div class="col-md-12 col-lg-12 col-sm-12">

        <div class="btn_cycles">
            <button type="button">New Cycle</button>
            <button type="button">Dashboard</button>
        </div>
        <div class="scroll_container">
            <table class="table table-hover table-striped table-hover mt15" style="min-width:1900px;max-width: 1900px;">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>&nbsp;</th>
                        <th>Cycle Code</th>
                        <th>LMP</th>
                        <th>ART</th>
                        <th>Protocol</th>
                        <th>Indication</th>
                        <th>Semen Source</th>
                        <th>#Follicles</th>
                        <th>OPU</th>
                        <th>#Oocytes</th>
                        <th>#Fertilized</th>
                        <th>#Cleaved</th>
                        <th>#Cryo</th>
                        <th>Embryo Transfer</th>
                        <th>BHCG</th>
                        <th>Pregnancy Confirmation</th>
                        <th>Cycle Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">1</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">                                   
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_red"><span class="red_point"></span> Pending</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                                <p class="">IV/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_close"><span class="red_point"></span>Closed</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_green"><span class="green_point"></span> Done</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_close"><span class="red_point"></span>Closed</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_orange"><span class="orange_point"></span> Confirmed</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                                <p class="">IV/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_cancel"><span class="black_point"></span>Cancelled</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_green"><span class="green_point"></span> Done</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_close"><span class="red_point"></span>Closed</span> <br>
                            <span class="status_cancel"><span class="black_point"></span>Cancelled</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_red"><span class="red_point"></span> Pending</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_close"><span class="red_point"></span>Closed</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_green"><span class="green_point"></span> Done</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_close"><span class="red_point"></span>Closed</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">3</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_orange"><span class="orange_point"></span> Confirmed</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                                <p class="">IV/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_cancel"><span class="black_point"></span>Cancelled</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">4</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_green"><span class="green_point"></span> Done</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_close"><span class="red_point"></span>Closed</span> <br>
                            <span class="status_cancel"><span class="black_point"></span>Cancelled</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_red"><span class="red_point"></span> Pending</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_close"><span class="red_point"></span>Closed</span>
                        </td>

                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td class="cycle_actions">
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                    <li><a href="#">Prescription</a></li>
                                    <li><a href="#">Investigations/Procedures</a></li>
                                    <li><a href="#">Ultrasonography</a></li>
                                    <li><a href="#">Stimulation Chart</a></li>
                                    <li><a href="#">OPU</a></li>
                                    <li><a href="#">Embryology</a></li>
                                    <li><a href="#">Embryo Transfer</a></li>
                                    <li><a href="#">Outcome</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><a href="" class="txt_bold">GS/01/201701/001</a></td>
                        <td>15 Jan, 2017</td>
                        <td>OPU <br> <b>IVF/ICSI</b></td>
                        <td>Long Protocol</td>
                        <td>Ovarian Factor,<br> Tubal Factor</td>
                        <td>Partner + Donor <br> <b>Ejaculation + Cryo</b></td>
                        <td>10</td>
                        <td>26 Jan, 2017 <br> <span class="opu_status txt_green"><span class="green_point"></span> Done</span></td>
                        <td>20</td>
                        <td>12</td>
                        <td>12</td>
                        <td>5 O <br> 6 E</td>
                        <td>
                            28 Jan, 2017 <br>
                            <span class="fresh"><span class="green_point"></span>2</span>
                            <span class="frozen"><span class="orange_point"></span>1</span>
                        </td>
                        <td class="toolTip">
                            <span class="tooltiptext tooltip-top">
                                <p class="">I/ 1-Jan-2017/ 200 m IU/ml/ <span class="positive"><span class="green_point"></span>Positive</span></p>
                                <p class="">II/ 3-Jan-2017/ 300 m IU/ml/ <span class="dash">-</span></p>
                                <p class="">III/ 5-Jan-2017/ 400 m IU/ml/ <span class="negative"><span class="red_point"></span>Negative</span></p>
                            </span>
                            15 Feb, 2017<br> <b>II/Positive</b>
                        </td>
                        <td>20 Jan, 2017 <br> <b>Singleton</b></td>
                        <td>
                            <span class="status_open"><span class="green_point"></span>Open</span> <br>
                            <span class="status_close"><span class="red_point"></span>Closed</span>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Start-->
<div class="modal fade closeCycleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>Do you want to close the Cycle ?</div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-primary" type="button" id="">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal" type="button" id="">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
