<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=301879 -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"></section>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"></section>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/" />
    <targets async="true">
      <target name="f1" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/error${date:format=yyMMdd}.log" archiveFileName="${logDirectory}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/error${date:format=yyMMdd}.{####}.log" archiveAboveSize="1000000" />
      <target name="f2" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/info${date:format=yyMMdd}.log" archiveFileName="${logDirectory}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/info${date:format=yyMMdd}.{####}.log" archiveAboveSize="1000000" />
    </targets>
    <rules>
      <logger name="PIVF.Web.*" minlevel="Debug" writeTo="f2" />
      <logger name="PIVF.Web.*" levels="Info" writeTo="f2" />
    </rules>
  </nlog>
  <connectionStrings>
    <!--added by neena-->

    <!--<add name="PIVFContext" connectionString="server=13.127.80.251;database=DEMO_DATABASE;User ID=sa;Password=Palash@1;"     
      providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=192.168.1.232\sql2017;database=Babysure_IVF_Test1apr19;User ID=sa;Password=Rational@1;"
     providerName="System.Data.SqlClient" />-->



    <!--<add name="PIVFContext" connectionString="server=192.168.1.232\sql2017;database=Gemino_RidgeIVF_Test;User ID=sa;Password=Rational@1;"
     providerName="System.Data.SqlClient" />-->


    <!--<add name="PIVFContext" connectionString="server=192.168.1.232\sql2017;database=Gemino_HegdeFertility_Live_23MAY19;User ID=sa;Password=Rational@1;"
     providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=192.168.1.232\sql2017;database=YashIVF_MVC_DEV_25Oct18;User ID=sa;Password=Rational@1;"
     providerName="System.Data.SqlClient" />-->

    <!--<add -->
    <!--name="pivfcontext" connectionstring="server=13.127.105.92;database= 13.127.105.92;user id=sa;password=Rational@1;"
   providername="system.data.sqlclient" />-->

    <!--<add name="PIVFContext" connectionString="server=192.168.1.232\sql2017;database=Gemino_MotherhoodIVF_Live22Jul19;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->


    <!--<add name="PIVFContext" connectionString="server=13.127.105.92;database=Gemino_HegdeFertility_Test;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=13.127.80.251,49161;database=Gemino_Telemedicine;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=13.127.80.251,49161;database=Gemino_Plus;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->

    <add name="PIVFContext" connectionString="server=52.74.135.182,49827;database=Curis_Clinical_IVFSense_Test;User ID=sa;Password=Healthsynk@2021;"
   providerName="System.Data.SqlClient" />
    
    <!--<add name="PIVFContext" connectionString="server=13.127.105.92;database=Gemino_HegdeFertility_Live;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->

    <!--Added bysujata cross clinic dev db-->

    <!--<add name="PIVFContext" connectionString="server=192.168.1.5\SQL2017;database=Gemino_Plus_06NOV19;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=192.168.1.54\SQLSERVER17;database=Victory_Lab_Gemino_Test;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=15.207.250.166,49357;database=Gemino_Androcare_Test_Purpose;User ID=sa;Password=w)vCFRNx3*.;"
   providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=35.154.87.40;database=Gemino_SaiMatrika_Test;User ID=sa;Password=+4g?5ULx+D2J-n_C;"
   providerName="System.Data.SqlClient" />-->

    <!--Added bysujata cross clinic dev db-->


    <!--<add name="PIVFContext" connectionString="server=192.168.1.232\SQL2017;database=Gemino_MotherhoodIVF_Live_25Sep19;User ID=sa;Password=Rational@10;"
   providerName="System.Data.SqlClient" />-->

    <!--<add name="PIVFContext" connectionString="server=13.127.80.251,49161;database=Gemino_MotherhoodIVF;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->


    <!--<add name="PIVFContext" connectionString="server=13.127.80.251,49161;database=YashIVF_Test_19Jun;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->


    <!--<add name="PIVFContext" connectionString="server=13.127.80.251,49161;database=Gemino_MotherhoodIVF_Live;User ID=sa;Password=Rational@1;"
   providerName="System.Data.SqlClient" />-->



    <add name="NORTHWNDConnectionString" connectionString="Data Source=PISPL\SQL2014;Initial Catalog=NORTHWND;User ID=sa;Password=Rational@10"
    providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="ED" value="PalashIVF" />
    <!--rohini-->
    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="Gemino_Plus_06NOV19"/>
    <add key="DBServer" value="192.168.1.5\SQL2017"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="Victory_Lab_Gemino_Test"/>
    <add key="DBServer" value="192.168.1.54\SQLSERVER17"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="Gemino_Plus"/>
    <add key="DBServer" value="13.127.80.251,49161"/>-->

    <add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Healthsynk@2021"/>
    <add key="DBName" value="Curis_Clinical_IVFSense_Test"/>
    <add key="DBServer" value="52.74.135.182,49827"/>
    
    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="w)vCFRNx3*."/>
    <add key="DBName" value="Gemino_Androcare_Test_Purpose"/>
    <add key="DBServer" value="15.207.250.166,49357"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="+4g?5ULx+D2J-n_C"/>
    <add key="DBName" value="Gemino_SaiMatrika_Test"/>
    <add key="DBServer" value="35.154.87.40"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="Gemino_MotherhoodIVF_Live"/>
    <add key="DBServer" value="13.127.80.251,49161"/>-->


    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="Gemino_HegdeFertility_Live"/>
    <add key="DBServer" value="13.127.105.92"/>-->

    <add key="LinkPartner" value="true"/>
    <add key="MarkDoner"   value="true"/>
    <add key="LinkDonerInvestigation" value="true"/>

    <!--<add key="DateFormat" value="20-06-2019"/>-->

    <!--<add key="DBUserName" value="sa"/>
    <add key="DBPassword" value="Rational@1"/>
    <add key="DBName" value="GEMINO_JINDALIVF_TEST"/>
    <add key="DBServer" value="13.127.80.251,49161"/>-->
    <!--<add key="DBNameNew" value="ETLDB"/>-->
    <!--Added by Nayan Kamble-->
    <add key="MarkSurrogate" value="true"/>
    <add key="LinkSurrogateInvestigation" value="true"/>


    <!--Start Added by Aniket for Registration Photo and Attachment Upload-->
    <add key="NewRegistrationImgIP" value="192.168.1.244"/>
    <add key="NewRegistrationImgVirtualDir" value="NewRegistrationUploadImages"/>
    <add key="NewRegistrationImgSavingLocation" value="E:\NewRegistrationUploadImages\"/>

    <add key="NewRegistrationAttachVirtualDir" value="NewRegistrationUploadAttach"/>
    <add key="NewRegistrationAttachSavingLocation" value="E:\NewRegistrationUploadAttach\"/>
    <!--End Added by Aniket for Registration Photo and Attachment Upload-->




    <!--<add key="aspnet:MaxHttpCollectionKeys" value="1000" />
  <add key="aspnet:MaxJsonDeserializerMembers" value="5000000000"/>-->

    <!--Added by Nayan Kamble-->
    <!--
    <add key="MarkSurrogate" value="true"/>
    <add key="LinkSurrogateInvestigation" value="true"/>-->


    <!-- start Added by aniket -->
    <add key="RegMRNoAuto" value="true" />
    <add key="RegMRNoManual" value="false" />
    <add key="RegImgIP" value="192.168.1.232"/>
    <add key="RegImgVirtualDir" value="Motherhood_REG_Img"/>
    <add key="ImgSavingLocation1" value="D:\MotherHood\Motherhood_REG_Img\"/>

    <!--<add key="ReportImgSavePath" value="C:\SurgyReport\"/>-->
    <!--end by aniket -->

    <!--< added sujata for image report save in file path "/>-->
    <!--<add key="ReportImgIP" value="192.168.1.45"/>
    <add key="ReportImgVirtualDir" value="SurgyReport"/>
    <add key="ReportImgSavingLocation" value="C:\SurgyReport\"/>-->

    <add key="ReportImgIP" value="192.168.1.244"/>
    <add key="ReportImgVirtualDir" value="NewReportUpload"/>
    <add key="ReportImgSavingLocation" value="E:\NewReportUpload\"/>

    <!--<Value = false  for motherhood "/>-->
    <!--<Value = true  for other all "/>-->
    <add key="PACFlag" value="false" />

    <!--<add key="ReportImgIP" value="13.127.80.251"/>
    <add key="ReportImgVirtualDir" value="Yash_ReportUpload_Test"/>
    <add key="ReportImgSavingLocation" value="D:\Yash_IVF\Yash_ReportUpload_Test\"/>-->

  </appSettings>

  <system.web>

    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"></globalization>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="25855656" />
    <!--2097151-->
    <sessionState timeout="30"></sessionState>

    <pages enableSessionState="true"></pages>

  </system.web>

  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="true">
      <!-- Enable WebAPI DELETE, PUT - http://blog.codelab.co.nz/2013/04/29/405-method-not-allowed-using-asp-net-web-api/ -->
      <remove name="WebDAVModule" />
      <remove name="FormsAuthenticationModule" />
      <remove name="Session"/>
      <add name ="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>

    <handlers>
      <!-- Enable WebAPI DELETE, PUT - http://blog.codelab.co.nz/2013/04/29/405-method-not-allowed-using-asp-net-web-api/ -->
      <remove name="WebDAV" />






      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>