@{
    Layout = null;

}

<div id="wrapper" class="form_Content">

        <div class="FormContainerTitle">
            <!-- Title Start -->
            <div class="row form-horizontal">
                <div class="col-md-offset-3 col-md-3 col-lg-offset-3 col-lg-3 ">
                    <select class="form-control " id="">
                        <option>Reproductive Medicine</option>
                        <option>Reproductive Medicine</option>
                    </select>
                </div>
                <div class="col-md-3 col-lg-3">
                    <select class="form-control " id="">
                        <option>Clinic + Location</option>
                        <option>Clinic + Location</option>
                    </select>
                </div>
            </div>
        </div><!-- Title End -->
            <div class="clearfix form-horizontal">
                <ul class="bxslider">
                    <li>
                        <div class="slideWrap">
                            <div class="slideTop">
                                <div class="ProfileImg">
                                    <img src="~/images/Default_user.png" alt="" class="img-responsive" />
                                </div>
                                <div class="slideTopInfo">
                                    <span class="PatientName">Dr.Anu Kotur</span>
                                    <span class="Txtcolor">Reproductive</span>
                                    <span class="Txtcolor">Medicine</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="slideContent">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading"><i class="fa fa-sun-o" aria-hidden="true"></i>Morning</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-sun-o" aria-hidden="true"></i>Afternoon</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">12AM - 01PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">01PM - 02PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">02PM - 03PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">03PM - 04PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-moon-o" aria-hidden="true"></i>Evening</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">06PM - 07PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">08PM - 09PM</div>
                                    </div>
                                </div>
                            </div><div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="slideWrap">
                            <div class="slideTop slideTwoBg">
                                <div class="ProfileImg">
                                    <img src="images/ladies-profile-pic.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="slideTopInfo">
                                    <span class="PatientName">Dr.Kamini Rao</span>
                                    <span class="Txtcolor">Reproductive</span>
                                    <span class="Txtcolor">Medicine</span>
                                </div>
                            </div>
                            <div class="slideContent slideTwoBorder">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading"><i class="fa fa-sun-o" aria-hidden="true"></i>Morning</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-sun-o" aria-hidden="true"></i>Afternoon</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">12AM - 01PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">01PM - 02PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">02PM - 03PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">03PM - 04PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-moon-o" aria-hidden="true"></i>Evening</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">06PM - 07PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">08PM - 09PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slideWrap">
                            <div class="slideTop slideThreeBg">
                                <div class="ProfileImg">
                                    <img src="images/profile_pic.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="slideTopInfo">
                                    <span class="PatientName">Dr.Raman Reddy</span>
                                    <span class="Txtcolor">Reproductive</span>
                                    <span class="Txtcolor">Medicine</span>
                                </div>
                            </div>
                            <div class="slideContent slideThreeBorder">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading"><i class="fa fa-sun-o" aria-hidden="true"></i>Morning</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="timeWrap">Dr is OOD</div>
                                    </div>
                                    <!-- <div class="col-lg-6 text-center">
                                        &nbsp;
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        &nbsp;
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-sun-o" aria-hidden="true"></i>Afternoon</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">12AM - 01PM</div>
                                    </div>
                                    <!-- <div class="col-lg-6 text-center">
                                    &nbsp;
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        &nbsp;
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-moon-o" aria-hidden="true"></i>Evening</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">06PM - 07PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">08PM - 09PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slideWrap">
                            <div class="slideTop slideFourBg">
                                <div class="ProfileImg">
                                    <img src="images/ladies-profile-pic.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="slideTopInfo">
                                    <span class="PatientName">Dr.Gautam</span>
                                    <span class="Txtcolor">Reproductive</span>
                                    <span class="Txtcolor">Medicine</span>
                                </div>
                            </div>
                            <div class="slideContent slideFourBorder">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading"><i class="fa fa-sun-o" aria-hidden="true"></i>Morning</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-sun-o" aria-hidden="true"></i>Afternoon</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">12AM - 01PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">01PM - 02PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">02PM - 03PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">03PM - 04PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-moon-o" aria-hidden="true"></i>Evening</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">06PM - 07PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">08PM - 09PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slideWrap">
                            <div class="slideTop slideFourBg">
                                <div class="ProfileImg">
                                    <img src="images/profile_pic.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="slideTopInfo">
                                    <span class="PatientName">Dr.Gautam</span>
                                    <span class="Txtcolor">Reproductive</span>
                                    <span class="Txtcolor">Medicine</span>
                                </div>
                            </div>
                            <div class="slideContent slideFourBorder">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading"><i class="fa fa-sun-o" aria-hidden="true"></i>Morning</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-sun-o" aria-hidden="true"></i>Afternoon</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">12AM - 01PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">01PM - 02PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">02PM - 03PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">03PM - 04PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-moon-o" aria-hidden="true"></i>Evening</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">06PM - 07PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">08PM - 09PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="slideWrap">
                            <div class="slideTop slideFourBg">
                                <div class="ProfileImg">
                                    <img src="images/ladies-profile-pic.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="slideTopInfo">
                                    <span class="PatientName">Dr.Gautam</span>
                                    <span class="Txtcolor">Reproductive</span>
                                    <span class="Txtcolor">Medicine</span>
                                </div>
                            </div>
                            <div class="slideContent slideFourBorder">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading"><i class="fa fa-sun-o" aria-hidden="true"></i>Morning</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">09AM - 10AM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">10AM - 11AM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-sun-o" aria-hidden="true"></i>Afternoon</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">12AM - 01PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">01PM - 02PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">02PM - 03PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">03PM - 04PM</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <h4 class="scheduleHeading  m-t-0"><i class="fa fa-moon-o" aria-hidden="true"></i>Evening</h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">06PM - 07PM</div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        <div class="timeWrap">08PM - 09PM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                @*<div class="row ">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary btn-md m-t-10" type="button" id="">Appointment</button>
                    </div>
                </div>*@
                <span id="slider-prev" class=""></span>
                <span id="slider-next" class="pull-right"></span>
            </div>
</div>

<script>
	$(document).ready(function(){
    var minSlides, maxSlides;
    //$(window).resize(function(){
    if ($(window).width() <= "768") {
        minSlides = 1;
        maxSlides = 1;
    } else if ($(window).width() <= "639") {
        minSlides = 2;
        maxSlides = 2;
    } else {
        minSlides = 4;
        maxSlides = 4;
    }
    $('.bxslider').bxSlider({
        mode: 'horizontal',
        slideWidth: 375,
        minSlides: minSlides,
        maxSlides: maxSlides,
        slideMargin: 15,
        auto: false,
        autoDirection: 'next',
        moveSlides: 1,
         //pause: 3000, 
        pager: false,
        pagerType: 'full',
        autoControls: true,
        controls: true,
        autoHover: true,
        speed: 1000,
		nextSelector: '#slider-next',
		prevSelector: '#slider-prev',
    });
});
</script>
<script src="~/Scripts/jquery.bxslider.js"></script>


